body {
    padding: 15px;
}

.shapes {
    border: 2px solid black;
    height: 150px;
}

.purple {
    background-color: rgb(143, 51, 143);
    height: 95px;
    width: 35px;
    margin-top: 45px;
    margin-left: 7px;
    float: left;
}

.green {
    background-color: green ;
    height: 130px;
    width: 250px;
    margin: 10px 30px;
    float: left;
}

.blue {
    background-color: rgb(143, 216, 250);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 10px 0;
    float: left;
}

.shadow-box {
    border: 2px dotted black;
    height: 150px;
    margin-top: 20px;
}

.shadow-box div {
    width: calc(100vw - 90px);
    /* width: 800px; */
    height: 100px;
    margin: 25px;
    float: left;
    background-color: rgb(255, 250, 206);
    box-shadow: 5px 6px 6px -1px rgb(59, 59, 59);
}

.greeting {
    width: 400px;
    height: 200px;
    box-shadow: 2px 2px 6px gray;
    border: .5px solid gray;
    margin: 20px auto;
    position: relative;
}

.greeting p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(57, 33, 160);
}
